body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}





.services {
  font-family: sans-serif;
}

.services__link {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.services__arrow {
  width: 16px;
  height: 16px;
  margin-left: 6px;
  transition: transform 0.3s ease;
}

.services__extra {
  display: none; /* до клика */
  margin-top: 10px;
}

.services__extra.show {
  display: block;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
